    @Override
    public $returnType ${methodName}(#generateMethodSignature($parameters)) {
        execute((($resourceImplType) resource).${actionMethodName}(#generateCallSignature($parameters)));
#if($returnValue)

        return $returnValue;
#end
    }
