    @Override
    public $returnType ${methodName}(#generateMethodSignature($methodParameters)) {
#if($returnValue)
        return $returnValue;
#end
    }

    RestAction<$resultType> ${actionMethodName}(#generateMethodSignature($methodParameters)) {
        return new ${action.className}(
                httpParameterFactory,
                defaultDateFormat#generateAppendedCallSignature($actionParameters));
    }
